:root {
  --default-text-color: #272142;
  --accent-color: #662eed;
  --step-color: #f65282;
  --background-color: #f9f7fe;
}
body {
  font-family: "Nunito";
  color: var(--default-text-color);
}
.navbar {
  margin: 20px 60px;
  background-color: transparent !important;
}
#active-link {
  color: var(--accent-color);
}
.navbar-nav {
  font-weight: bold;
  font-size: 16px;
}

.hero {
  background-image: url(/img/homepage/hero-background.png);
  background-size: cover;
  margin: 0 0 40px 0;
  text-align: center;
  color: white;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  padding: 47px 150px 0 150px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 350px;
  padding-bottom: 46px;
}
.contact-section h2 {
  margin: 0;
}
ul {
  list-style-type: none;
}
p {
  font-size: 28px;
  font-weight: bold;
}
.contact-recources {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
}

.recepies {
  margin-top: 30px;
  border: none;
}
footer {
  font-size: 16px;
  background-color: var(--background-color);
  padding: 40px 140px;
  margin-top: 100px;
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }
  .navbar {
    margin: 0;
  }
  .navbar-brand {
    width: 70%;
    text-align: left;
  }
  .hero {
    background-image: url(/img/homepage/hero-background.png);
    background-size: cover;
    margin-bottom: 0;
  }

  h1 {
    font-size: 40px;
    padding: 10px 15px 0 15px;
  }

  h2 {
    font-size: 18px;
    padding: 0 15px 10px 15px;
  }
  h1,
  h2 {
    margin: 0;
  }
  p {
    font-size: 20px;
  }
  footer {
    font-size: 10px;
    padding: 5px;
  }
  footer .footer-logo {
    width: 50%;
  }
  #footer-logo {
    width: 50%;
    padding: 0;
  }
}
