body {
  font-family: "Nunito";
}
.navbar {
  margin: 20px 60px;
  background-color: transparent !important;
}

.navbar-nav {
  font-weight: bold;
  color: #272142;
  font-size: 16px;
}
#home {
  color: darkviolet;
}
.hero {
  background-image: url(/img/homepage/hero-background.png);
  background-size: cover;
  margin: 0 0 40px 0;
  text-align: center;
  color: white;
  width: auto;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  padding: 47px 150px 0px 150px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
  margin: 0 350px;
  padding-bottom: 46px;
}
p {
  font-size: 28px;
  font-weight: bold;
  color: #272142;
}

.recepies {
  margin-top: 30px;
  border: none;
}
footer {
  color: #272142;
  font-size: 16px;
  font-weight: normal;
  background-color: #f9f7fe;
  padding: 40px 140px;
  margin-top: 100px;
}
